html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #5aa17f;
}

body{
    background-color: #A2E4B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 80px;
}

#topBar{
    position: fixed;
    left:0;
    right:0;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 3px black solid;
    color: #A2E4B8;
    text-align: center;
}

#topBar h1{
    padding-left: 45px;
    padding-right: 45px;
}

#white{
    display: flex;
    justify-content: center;
}

#navbar{
    display: flex;
    align-items: center;
}

.selectItem{
    font-family: 'Lucida Sans';
    padding: 10px;
}

.selectItem:hover{
    background-color: aliceblue;
}

#content{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px 0px;
    font-family: 'Times New Roman', Times, serif;

    padding:20px;
    width: 800px;
    text-align: left;
}

#content h1{
    font-size: 50px;
    text-align: center;
    background-color: #4fa8d8;
    padding: 10px;
    margin-bottom: -125px;
}

#content h2{
    font-size: 35px;
}

#content p{
    font-size: 25px;
}

ul li{
    font-size: 24px;
}

.myInfo{
    margin-bottom: -150px;
}

.myInfo h2{
    padding-top: 75px;
}

.myInfo img{
    padding: 0px;
}

#aboutMe{
    display: flex;
    gap: 0px 25px;
}

#aboutMe img{
    padding-top: 100px;
    width: 200px;
}

#techSkill img{
    height: 165px;
}

#academics img{
    width: 400px;
    padding-left: 200px;
}

#hobbies{
    margin-bottom: 235px;
}

#hobbies ul li{
    padding: 0px;
}

#hobbies ul p{
    font-size: 15px;
}

#hobbies img{
    padding: 10px;
    height: 250px;
}

footer{
    display: flex;
    background-color: #5aa17f;
    bottom: 0px;
    float: bottom;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    gap: 0px 50px;
}

.lowerBar{
    padding: 25px;
}

.lowerBar a{
    color: #0072b1;
}

@media(max-width: 850px){
    #topBar{
        align-items: center;
        justify-content: space-evenly;
        font-size: 16px;
    }
    
    #topBar h1{
        font-size: 20px;
        padding: 0px;
    }

    #content{
        width: 650px;
        margin-top: -25px;
    }

    #content h1{
        font-size: 45px;
    }

    #content h2{
        font-size: 35px;
    }
    
    #content p{
        font-size: 25px;
    }

    .myInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #aboutMe img{
        margin-top: 50px;
    }
    
    #techSkill img{
        padding: 10px;
        height: 90px;
    }

    #academics img{
        padding-left: 0px;
        width: 200px;
    }
    
    #hobbies{
        margin-bottom: 100px;
    }
    
    #hobbies img{
        height: 200px;
    }
    
    footer{
        flex-direction: column;
    }
}

@media(max-width: 600px){
    #topBar{
        align-items: center;
        justify-content: space-evenly;
        font-size: 10px;
    }
    
    #topBar h1{
        font-size: 12px;
        padding: 0px;
    }

    #content{
        width: 300px;
        margin-top: -25px;
    }

    #content h1{
        font-size: 35px;
    }

    #content h2{
        font-size: 25px;
    }
    
    #content p{
        font-size: 20px;
    }

    .myInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #aboutMe img{
        margin-top: 50px;
    }
    
    #techSkill img{
        padding: 10px;
        height: 90px;
    }

    #academics img{
        padding-left: 0px;
        width: 200px;
    }
    
    #hobbies{
        margin-bottom: 100px;
    }
    
    #hobbies img{
        height: 200px;
    }
    
    footer{
        flex-direction: column;
    }
}